<div id="posts-container">
    <div id="left-column">
        <div id="friends">
            <ul class="small-window" ng-model="loggedUser.friends">
                <li ng-repeat="friend in loggedUser.friends">
                    <img class="small-images" ng-src="{{friend.avatar}}" />
                    <div>{{friend.username}}</div>
                </li>
            </ul>
        </div>
        <div class="small-window" id="search">
            <input id="search-username" ng-model="searchedUser.username" placeholder="Input username"/>
            <button class="button-small" ng-click="searchUser()">Search</button>
            <div class="clearfix"></div>

            <div id="result-search">
                <img class="small-images" id="result-avatar" src="{{resultUser.avatar}}"/>
                {{resultUser.username}}
                <button class="button-small" id="request-frienship" ng-click="makeRequest()">Request friendship</button>
            </div>
        </div>
        <div id="requests" >
            <ul class="small-window" ng-model="loggedUser.receiveRequests">
                <li ng-repeat="request in loggedUser.receiveRequests">
                    <img class="small-images" ng-src="{{request.senderAvatar}}" />
                    <div>
                        {{request.title}} from <strong>{{request.senderName}}</strong>
                        <button class="button-small" ng-click="addFriend(request.senderId, request.id)">Accept</button>
                        <button class="button-small" ng-click="deleteRequest(request.id)">Decline</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="riht-column">
        <div class="input">
            <input id="title-post" type="text" placeholder="Title" ng-model="post.title"/>
            <input id="content-post" type="text" placeholder="Type your text here..." ng-model="post.content"/>
            <button class="button" ng-click="addPost()">Publish</button>
        </div>
        <div>
            <ul class="input" ng-model="loggedUser.wall">
                <li ng-repeat="post in loggedUser.wall">
                    <img ng-src="{{post.avatar}}" />
                    <strong>{{post.author}}</strong>
                    <p>{{post.title}}</p>
                    <p>{{post.content}}</p>
                    <p>{{post.date | date:'d-MMM-yyyy HH:mm'}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>